/* dark-theme.css */

:root {
    --primary-bg-color: #333333;
    /* Colore di sfondo primario per tema scuro */
    --secondary-bg-color: #1a1a1a;
    /* Colore di sfondo secondario per tema scuro */
    --text-color: #ffffff;
    /* Colore del testo principale per tema scuro */
    --box-shadow-color: rgba(255, 255, 255, 0.1);
    /* Colore dell'ombra delle scatole per tema scuro */
}

body {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

.container {
    background-color: var(--secondary-bg-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
}